 /* Contains style rules for mobile screens */
 @charset: utf-8;
 @media only screen and (max-width: 481px) {
	 body {
		 width: 100%;
		 background-color: #dcb999;
	 }
	 nav > ul {
		list-style: none;
		font-family: 'Times New Roman', serif;
		line-height: 2em;
	}
	header {
		font-family: Verdana, Arial, sans-serif;
		font-size: 1.5em;
	}
	hr {
		color: black;
		height: 0.25em;
		background-color: black;
	}
	h3 {
		font-family: Verdana, Arial, sans-serif;
		font-weight: normal;
	}
 }