/*Style Rules for everything in the subfolder */
@charset: utf-8;

/*Desktop Styles*/
@media only screen and (min-width: 480px) {
	nav > ul > li {
		margin: 1em;
	}
	h1 {
		font-family: Verdana, Arial, sans-serif;
	}
	ul {
		margin: 1em;
	}
}

/*Mobile Styles*/
@media only screen and (max-width: 481px) {
	img{
		display: none;
	}
}